<div class="container mt-5 ms-3">
	<h2 mat-dialog-title>
		Vaccine Record For Pet : {{data.visit.pet.name}}
	</h2>
</div>
<mat-dialog-content>
  <table class="table w-100">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Description</th>
			<th scope="col">veterinaire</th>
			<th scope="col">prises</th>
		</tr>
	</thead>
	<tbody>
		@for (visit of visits; track $index) {
      <tr>
        <td>
           {{visit.date |date}}
        </td>
        <td>
          {{visit.description}}
        </td>
        <td>
          {{visit.veterinaire.name}}
        </td>
        <td>
          <ul>
            @for(prise of visit.prises;track $index){
              <li>
                 {{prise.date | date}} ++ {{prise.vaccine.name}} ++ {{prise.notes}}
              </li>
            }
          </ul>
        </td>
      </tr>
    }
	</tbody>
</table>

</mat-dialog-content>

<mat-dialog-actions>
	<button (click)="close()"
		class="btn btn-secondary">
		Close
	</button>
</mat-dialog-actions>
